.body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.container {
  display: flex;
  margin: 0px;
  padding: 0px;
  height: 90%;
}

.sidebar {
  background-color: #fff;
  width: 200px;
  padding: 0px;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 25em;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.item {
  margin-bottom: 10px;
}

.item a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.item a:hover {
  background-color: #ddd;
}

.image-container {
  margin-bottom: 20px;
}
.sidebar img{
  height: 100%;
  object-fit: cover;
}


.button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
}
.custom{
  background-color: #F88E11;
}
.home{
  margin: 10px;
}
.buton {
  margin: 10px;
}
.custom-but2{
  background-color: #F88E11;
  margin: 10px;
  color: #000;
}
.custom-but{
  margin: 0;
  border: 1px solid #F88E11;
  background-color: #fff;
  color: #000;
}